@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/OpenSansRomanSemiBold.ttf");
  font-family: "Open Sans";
  font-weight: 600;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/OpenSansRomanRegular.ttf");
  font-family: "Open Sans";
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/OpenSansRomanBold.ttf");
  font-family: "Open Sans";
  font-weight: 700;
}
